# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.eggs/

# Virtual Environments
venv/
env/
.venv/
.env/

# Environment Variables
.env
*.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Flask / Temp
instance/
*.sqlite3
